python-telegram-bot[webhooks]==21.7
pyswisseph==2.10.3.2  # ✅ نسخه را به 2.10.3.2 تغییر دهید
persiantools
fastapi
uvicorn
httpx
pydantic
geopy
persiantools
pytz
numpy
jplephem
python-dotenv
timezonefinder[database] 
aiosqlite
matplotlib
jdatetime
